/* //////////////////////////layout .entete
*/
.entete {
  background-color: $couleur_primaire;

  &__contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__toggle-icon {
    display: none;
  }
  &__logo {
    width: 75px;
    height: 75px;
  }
  /* ///////////////////navigation  */
  &__nav {
    margin: 0 0 0 auto;
  }
  &__menu {
    //ul
    display: flex;
    list-style-type: none;
    gap: 1rem;
  }
  &__menu-item {
    //li
    padding: 3px;
    border-radius: 5px;
    a {
      text-decoration: none;
      color: $couleur_police_texte;
      display: block;
      padding: 3px;
      border-radius: 5px;
      &:hover {
        background-color: $couleur_secondaire;
      }
    }
  }
  // Responsivité en dessous de 800px

  @media (max-width: 800px) {
    &__contenu {
      align-items: start;
    }
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: end;
      width: 100%;
    }
    &__menu {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
    }

    &__toggle-icon {
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 30px;
    }
    .entete_toggle:checked + .entete__toggle-icon + .entete__menu {
      display: flex;
    }
  }
}
