/* //////////////////////////layout .entete
*/
.entete {
  background-color: $couleur_primaire;

  &__contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 75px;
    height: 75px;
  }
  /* ///////////////////navigation  */
  &__nav {
    margin: 0 0 0 auto;
  }
  &__menu {
    //ul
    display: flex;
    list-style-type: none;
    gap: 1rem;
  }
  &__menu-item {
    //li
    padding: 3px;
    border-radius: 5px;
    a {
      text-decoration: none;
      color: $couleur_police_texte;
      display: block;
      padding: 3px;
      border-radius: 5px;
      &:hover {
        background-color: $couleur_secondaire;
      }
    }
  }
  /* ⚠️ Responsive : en-dessous de 600px */
}
