.form {
  display: flex;
  padding: 10px 25px;
  position: absolute;
  top: 103%;
  left: calc(50% - 395px);
  background-color: $couleur_primaire;
  width: fit-content;
  //   margin: 0 auto;
  gap: 10px;
  &__champ {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    label {
      font-weight: 600;
      margin-bottom: 5px;
    }
    input {
      padding: 8px;
      border-radius: 5px;
      border: 1px solid $couleur_tertiaire;
      width: 150px;
    }
  }
  &__submit {
    margin-top: 40px;
    & input {
      padding: 6px;
      width: 150px;
      border: 1px solid $couleur_tertiaire;
    }
  }
  @media (max-width: 800px) {
    display: none;
  }
}
