h1 {
  font-family: "montserrat", sans-serif;
  font-size: clamp(1.5rem, 4.236vw + 0.2345rem, 3rem);
}
h2 {
  font-family: "montserrat", sans-serif;
  font-size: clamp(1rem, 1.5656vw + 0.5323rem, 1.6rem);
}
h3 {
  font-family: "montserrat", sans-serif;
  font-size: clamp(0.8rem, 0.7828vw + 0.5661rem, 1.3rem);
}
// h4 {
// }
// h5 {
// }
// h6 {
// }
p {
  font-size: clamp(1rem, 0.6262vw + 0.8129rem, 1.4rem);
}
